In [1]:
import pandas as pd
import numpy as np
import os 
import math
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
filename = r"C:\Users\thema\OneDrive\Projects\JPMC_Fraud_Analysis\data\subset.csv"

df=pd.read_csv(filename)

In [3]:
df.shape

(100000, 21)

In [4]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,gender,street,city,state,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,442620,2019-07-15 21:09:09,3543591270174051,"fraud_Windler, Goodwin and Kovacek",home,183.01,F,6911 Nicholas Keys Apt. 237,Armagh,PA,...,40.4603,-79.0097,922,Early years teacher,1972-10-04,56063f52a410400d2117bb5c1ed3598f,1342386549,41.112679,-78.305566,0
1,460189,2019-07-22 09:15:05,6517217825320610,fraud_Ledner-Pfannerstill,gas_transport,63.69,M,26975 Richardson Mills Apt. 402,Sontag,MS,...,31.6453,-90.1801,1196,"Librarian, academic",1958-06-11,76f4fb5f48de63e5fa070b69b295f610,1342948505,32.080924,-90.981001,0
2,11432,2019-01-07 18:28:09,3567697931646329,fraud_Stark-Batz,entertainment,188.42,M,428 Morgan River,Hudson,NY,...,42.2470,-73.7552,17867,Travel agency manager,1998-07-29,e447b13ff1d3ef6cb47831e78c395905,1325960889,42.577066,-73.986067,0
3,542664,2019-08-20 08:24:15,213141712584544,fraud_McCullough LLC,misc_pos,1.14,F,742 Oneill Shore,Florence,MS,...,32.1530,-90.1217,19685,Fine artist,1984-12-24,11d82fca7c72ddc9e7af1e7e81f6a7fd,1345451055,32.330948,-89.593020,0
4,763922,2019-11-23 14:07:47,30518206766474,fraud_McKenzie-Huels,food_dining,13.75,F,471 Marquez Prairie Suite 680,Matthews,MO,...,36.7154,-89.6287,1019,Aeronautical engineer,1979-01-26,4a66773f023c5a4703d9ba38ddf98c65,1353679667,36.848995,-88.640230,0

In [9]:
df.drop(columns = 'Unnamed: 0', inplace = True)

In [13]:
df.isnull().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [16]:
duplicates = df.duplicated().sum()
duplicates

0

In [10]:
df.columns

Index(['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt',
       'gender', 'street', 'city', 'state', 'zip', 'lat', 'long', 'city_pop',
       'job', 'dob', 'trans_num', 'unix_time', 'merch_lat', 'merch_long',
       'is_fraud'],
      dtype='object')

In [11]:
df.dtypes

trans_date_trans_time     object
cc_num                     int64
merchant                  object
category                  object
amt                      float64
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

* datetime
* age
* gender
* street
* location
* transaction category
*